@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
  font-style: normal;
}

:root {
  --clr-orange-200: hsl(35, 77%, 62%);
  --clr-red-200: hsl(5, 85%, 63%);
  --clr-off-white: hsl(36, 100%, 99%);
  --clr-grayish-blue: hsl(233, 8%, 79%);
  --clr-dark-grayish-blue: hsl(236, 13%, 42%);
  --clr-very-dark-blue: hsl(240, 100%, 5%);

  --clr-surface-1: var(--clr-off-white);
  --clr-surface-2: var(--clr-very-dark-blue);

  --clr-text-1: var(--clr-very-dark-blue);
  --clr-text-2: var(--clr-dark-grayish-blue);

  --clr-btn-bg-1: var(--clr-red-200);

  font-size: 15px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;

  min-height: 100vh;

  font-family: 'Inter', sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 1rem;
  padding: 1rem;

  width: 100%;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  gap: 1rem;

  margin-inline: 1rem;
}

/*** Sections Grids ***/

.section-hero {
  grid-column: span 2;
  grid-row: span 2;
}

.section-new {
  grid-column: span 1;
  grid-row: span 2;
}

.section-popular {
  grid-column: span 3;
  grid-row: span 1;

  height: 129px;
}

/*** Navigation ***/

.nav-list {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/*** Section - Hero ***/

.section-hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-picture {
  grid-column: span 2;
}

/*** Section - Popular ***/

.popular-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.popular-list-item {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 1rem;

  max-width: 350px;
}

.popular-item-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popular-item-number {
  color: var(--clr-red-200);
}

.popular-item-picture-link {
  overflow: hidden;
}

.popular-item-picture > img {
  /* max-width: 100px; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*** Text ***/

.bold {
  font-weight: 700;
}

.heading-md {
  font-size: 32px;
}

.heading-xs,
h3 {
  font-size: 18px;
}

.body {
  font-size: 15px;
  line-height: 175%;
  color: var(--clr-text-2);
}

/*** Utility ***/

.max-width {
  max-width: 1110px;
}
